.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #272727;
}

.agreement-header {
  margin: 15px 0 50px;
}

.agreement-heading {
  color: #ffb13c;
  font-size: 24px;
}

.agreement-body {
  max-width: 25%;
  color: #757575;
}

.agreement-body span {
  text-align: center;
}

.list-head {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  margin-top: 45px;
  padding: 15px 0;
}

.list-item {
  margin-top: 5px;
  padding: 35px;
  /* border: 1px solid #9e6f26; */
  border-radius: 10px;
  background-color: #232323;
}

.list-item.activated {
  border: 1px solid #9e6f26;
}

.switch {
  margin-right: 32px;
}

.item-decription {
  color: #ffffff;
}

.final-wrapper {
  padding-right: 10px;
}

.point {
  margin-top: 10px;
}

.point span {
  color: #ffffff;
  font-weight: 500;
  margin-left: 25px;
}

.continue button {
  /* margin-right: 100px; */
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #fdb448, #df8f17);
  padding: 10px 25px;
  font-weight: 500;
}

.continue button:disabled {
  cursor: not-allowed;
}

.point-description {
  font-size: 16px;
  color: #ffffff;
}

.continue .point-description {
  color: #757575;
}

@media screen and (min-width: 768px) {
  .final-wrapper .col-md-6 div {
    max-width: 60%;
  }
  .agreement-body {
    max-width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .continue {
    margin-top: 10px;
  }
  .continue button {
    width: 100%;
    margin-bottom: 10px;
  }
  .agreement-body {
    max-width: 80%;
  }
  .switch {
    margin-top: 10px;
  }
  .container {
    width: 100%;
  }
}
