.modal-content {
  width: 90%;
}

.emailcode-error {
  background: #c74a4a;
  width: auto;
  color: #fff;
  box-sizing: border-box;
  font-size: 15px;
  padding: 12px !important;
  margin: 0 0 15px 0 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  text-align: center;
}
.emailcode-error p {
  margin-top: none !important;
  margin-bottom: 0;
}
