/* contract Type */
.contract-type-section {
  padding: 50px 0;
  position: relative;
}
.contract-type-section h3 {
  color: #cc2d30;
  font-size: 40px;
  font-family: 'Catamaran';
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.tag-content {
  color: #000;
  text-align: center;
  line-height: 24px;
  max-width: 70%;
  margin: 11px auto 0;
}
.contract-type-list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px;
}
.contract-type-each {
  width: calc(33.333% - 30px / 2);
}
.contract-type-each:nth-child(2n) {
  margin-left: 15px;
  margin-right: 15px;
}
.contract-type-icon {
  width: 87px;
  margin: 0 auto;
  height: 64px;
}
.contract-type-icon img {
  max-width: 100%;
}
.contract-type-each h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.contract-type-each p {
  text-align: center;
  line-height: 24px;
  margin: 0;
}

/*Why Bitfex*/

.why-bitfex-section {
  padding: 50px 0;
  background: #cc2d30;
  background: -moz-linear-gradient(left, #cc2d30 1%, #902527 100%);
  background: -webkit-linear-gradient(left, #cc2d30 1%, #902527 100%);
  background: linear-gradient(to right, #cc2d30 1%, #902527 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2d30', endColorstr='#902527',GradientType=1 );
}
.why-bitfex-section h3 {
  color: #fff;
  font-size: 40px;
  font-family: 'Catamaran';
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.why-bitfex-section .tag-content {
  color: #fff;
}
.why-bitfex-feature {
  width: calc(50% - 30px);
  margin-top: 50px;
}
.why-bitfex-feature:nth-child(2n) {
  margin-left: auto;
}
.why-bitfex-feature-icon {
  min-width: 64px;
  height: 64px;
}
.why-bitfex-feature-icon img {
  max-width: 100%;
}
.why-bitfex-feature-content {
  margin-left: 30px;
}
.why-bitfex-feature-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.why-bitfex-feature-content p {
  color: #fff;
  line-height: 24px;
  margin: 0;
}

/*About BFX*/

.about-BFX-section {
  padding: 50px 0;
}
.about-BFX-section h3 {
  color: #cc2d30;
  font-size: 40px;
  font-family: 'Catamaran';
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.BFX-benefits ul {
  list-style: none;
  margin: 25px 0 0 0;
  padding: 0;
}
.BFX-benefits h4 {
  color: #0a1640;
  font-size: 22px;
  margin: 60px 0 0 0;
  font-weight: 600;
}
.BFX-benefits li {
  padding-left: 25px;
  position: relative;
  font-size: 16px;
  margin-bottom: 30px;
  width: calc(50% - 40px);
}
.BFX-benefits li:nth-child(2n) {
  margin-left: auto;
}
.BFX-benefits li strong {
  font-weight: 600;
}
.BFX-benefits li:before {
  background-color: #cc2d30;
  border-radius: 50%;
  content: '';
  height: 6px;
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
}
.about-BFX-graph {
  margin-top: 10px;
  max-width: 100%;
}
a.buy-bfx-btn {
  background-color: #ffd700;
  border-radius: 3px;
  color: #0a1640;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 20px auto 0;
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
}

/*Want to learn Crypto Derivatives Trading?*/
.crypto-derivatives-section {
  background: url(../../../assets/img/derivative-trading-bg2x.png) no-repeat 0 0;
  background-size: cover;
  padding: 25px 0 30px;
  text-align: center;
}
.crypto-derivatives-section h3 {
  color: #fff;
  font-size: 40px;
  font-family: 'Catamaran';
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.crypto-derivatives-section p {
  color: #fff;
  line-height: 24px;
  margin: 0;
}
a.try-sestnet-btn {
  background-color: #ffd700;
  border-radius: 3px;
  color: #0a1640;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 30px;
  width: 200px;
  text-align: center;
}
a.buy-bfx-btn:hover,
a.try-sestnet-btn:hover {
  background-color: #f2cc02;
  text-decoration: none;
}

/*Start Live Trading in 3 Easy Steps*/
.live-trading-steps-section {
  padding: 50px 0;
}
.live-trading-steps-section h3 {
  color: #cc2d30;
  font-size: 40px;
  font-family: 'Catamaran';
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.trading-easy-steps {
  margin-top: 80px;
  margin-bottom: 0;
  list-style: none;
}
.trading-easy-steps li {
  padding-left: 90px;
  position: relative;
  width: calc(33.333% - 60px / 3);
  margin-left: 30px;
}
.trading-easy-steps li:first-child {
  margin-left: 0;
}
.trading-easy-steps li:before {
  color: rgba(206, 45, 69, 0.2);
  font-family: 'Catamaran';
  font-weight: 900;
  font-size: 100px;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.trading-easy-steps li:nth-child(1):before {
  content: '1.';
}
.trading-easy-steps li:nth-child(2):before {
  content: '2.';
}
.trading-easy-steps li:nth-child(3):before {
  content: '3.';
}
.trading-easy-steps li h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.trading-easy-steps li p {
  margin-bottom: 0;
}
.trading-steps-CTA {
  margin-top: 78px;
  text-align: center;
}
a.trading-register-btn {
  background-color: #ffd700;
  border-radius: 3px;
  color: #0a1640;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
}
a.trading-register-btn:hover {
  background-color: #ccc;
  text-decoration: none;
}

@media (max-width: 1200px) {
  /*Banner*/
  .banner-left h1 span {
    font-size: 30px;
  }
  .banner-left h1 strong {
    font-size: 38px;
  }
  .banner-left p {
    font-size: 16px;
  }

  /*Sections*/
  .contract-type-each h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .contract-type-each p {
    font-size: 14px;
    line-height: 22px;
  }
  .contract-type-section h3,
  .why-bitfex-section h3,
  .about-BFX-section h3,
  .crypto-derivatives-section h3,
  .live-trading-steps-section h3 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .timer .count {
    font-size: 30px;
    line-height: 65px;
  }
  .why-bitfex-feature-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .why-bitfex-feature-icon {
    text-align: right;
  }
  .tag-content {
    max-width: 90%;
  }
  .row.BFX-benefits {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .trading-easy-steps {
    margin-top: 60px;
  }
  .trading-steps-CTA {
    margin-top: 58px;
  }
  .contract-type-each h4 {
    min-height: 50px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
  .logo img {
    max-width: 170px;
  }
  a.forget-password,
  .login-form-row label,
  .login-container p {
    font-size: 14px;
  }
  .banner-left h1 strong {
    font-size: 32px;
  }
  /*sections*/
  .contract-type-section {
    padding: 25px 0;
  }
  .contract-type-each,
  .contract-type-each:nth-child(2n) {
    width: 100%;
    margin: 0 0 40px 0;
  }
  .contract-type-each:last-child {
    margin: 0;
  }
  .contract-type-each h4 {
    margin-top: 10px;
    min-height: inherit;
  }

  .contract-type-icon {
    width: 64px;
    height: auto;
  }
  .why-bitfex-features,
  .trading-easy-steps {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .trading-easy-steps li h4 {
    font-size: 20px;
  }
  .why-bitfex-feature,
  .trading-easy-steps li {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .why-bitfex-feature-icon {
    text-align: center;
  }
  .BFX-benefits h4 {
    margin-top: 30px;
  }
  .buy-BFX-CTA {
    text-align: center;
  }
  .about-BFX-graph {
    margin-top: 40px;
  }
  .contract-type-section h3,
  .why-bitfex-section h3,
  .about-BFX-section h3,
  .crypto-derivatives-section h3,
  .live-trading-steps-section h3 {
    font-size: 28px;
  }
  .BFX-benefits h4 {
    font-size: 20px;
  }
  .BFX-benefits li {
    font-size: 14px;
  }
  a.try-sestnet-btn,
  a.buy-bfx-btn,
  a.trading-register-btn {
    font-size: 16px;
  }
  .trading-easy-steps {
    margin-top: 10px;
  }
  .why-bitfex-section,
  .about-BFX-section,
  .live-trading-steps-section {
    padding: 25px 0;
  }

  .BFX-benefits ul {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .BFX-benefits ul li {
    width: 100%;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 576px) {
  /*banner*/
  .main-banner {
    height: auto;
    padding: 20px 0;
  }
  .banner-content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .banner-right {
    margin: 10px auto 0;
  }
  .banner-left {
    text-align: center;
  }
  .view-exchange-btn a {
    font-size: 16px;
  }

  /*sections*/
  .tag-content {
    max-width: 100%;
  }
  .contract-type-list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  a.forget-password {
    position: static;
  }
}
