#about-us {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 5rem;
  width: auto;
}

#privacy-policy {
  margin: 0 auto;
  margin-top: 6rem;
  padding: 3rem;
  max-width: 750px;
}

#terms-of-use {
  margin: 0 auto;
  margin-top: 6rem;
  padding: 3rem;
  max-width: 750px;
}

p {
  line-height: 1.8rem;
  color: black;
}

.footer-center {
  padding-top: unset;
}

/* #about-us > div > img{
  width : 100%;
} */

/* @media (min-width : 900px) {
  #about-us > div > img {
    width : 100vw !important; 
  }
} */