.dark-body-reset-password {
    padding: 4rem 0rem 0.5rem 0rem;
    margin-top: 3rem;
    /* contain: content; */
    min-height: 100vh;
    overflow: auto;
  }
  
  .dark-body-reset-password::-webkit-scrollbar {
    display: none;
  }
  

.reset-password-footer{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
/* identical to box height, or 144% */


/* Gray 3 */

color: #828282;
mix-blend-mode: normal;
opacity: 0.8;

display : flex;
justify-content : flex-start;
margin: 3rem 0rem 2rem 1rem;
}

.reset-password-footer > div {
    margin : 0em 0.8em;
    cursor: pointer;
}

.reset-password-footer :hover {
    color : #ffffff;
}